<div class="panel clearfix mdc-bg-{{category.color}} assign-form">
  <div class="panel-body">
    <!-- close icon -->
    <div class="row">
      <div class="col-xs-12">
        <a {{action close preventDefault=true on='click'}} href="" class="pull-right" data-dismiss="modal">
          <i class="material-icons icon-close">close</i>
        </a>
      </div>
    </div>
    <!-- end close icon -->

    <div class="row">
      <!-- category item -->
      <div class="col-md-3">
        <div class="category-item">
          <i class="flaticon-{{category.icon}} category-icon"></i>
          <span class="category-title">{{i18n category.title}}</span>
        </div>
      </div>
      <!-- end category item -->

      <!-- form -->
      <div class="col-md-9">
        <form {{action "assign" on="submit"}}>
          <div class="form-group">
            {{input type="email" class="form-control" placeholder=(i18n 'assign.search') value=assignee}}
          </div>
          <div class="form-group">
            {{textarea rows="3" class="form-control" placeholder=(i18n 'assign.comment') value=comment}}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-raised pull-right">{{i18n 'assign.send'}}</button>
          </div>
        </form>
      </div>
      <!-- end form -->
    </div>
  </div>
</div>
