<div class="row">
  {{#each categories as |category|}}
  <div class="col-md-1-half col-sm-3 col-xs-6">
    <a {{action 'select' category preventDefault=true on='click'}} href="" class="category-item mdc-bg-{{category.color}}" data-toggle="modal" data-target="#assign-form-modal" data-backdrop="static" data-keyboard="false">
      <i class="flaticon-{{category.icon}} category-icon"></i>
      <span class="category-title text-ellipsis" data-toggle="tooltip" data-placement="bottom" title="{{i18n category.title}}">{{i18n category.title}}</span>
    </a>
  </div>
  {{/each}}
</div>

<div class="modal fade" id="assign-form-modal" role="dialog">
  <div class="modal-dialog" role="document">
    {{assign-form store=store user=user category=category close=(action 'close')}}
  </div>
</div>

