<div class="panel login-form">
  <div class="panel-heading">
    <img class="logo" src="/assets/images/isotipo_edrans.png" alt="">
  </div>
  <div class="panel-body">
    <form {{action "login" on="submit"}}>
      <fieldset>
        <legend class="text-center">
          <img src="/assets/images/logotipo_edrans.png" width="200" alt="">
        </legend>
        <a href="javascript:void(0);" {{action "googleLogin"}} class="btn btn-block btn-social btn-google btn-raised btn-lg text-left box-shadow">
          <span class="icon">
            <img src="/assets/images/google_logo_white.png" alt="">
          </span>
          <span>
            Sign in with Google
          </span>
        </a>
      </fieldset>
    </form>
  </div>
</div>
