<ul class="list-inline remaining-star">
  <li class="remaining-star-chart">
    {{ember-progress-bar shape="Circle" progress=remaining.progress options=remaining.options}}
  </li>
  <li class="remaining-star-text">
    <h4>{{i18n 'dashboard.remaining_month'}}</h4>
  </li>
</ul>
