<div class="panel panel-default">
  <div class="profile-view">
    <div class="pv-header">
      <img src="{{user.image_url}}" class="pv-main" alt="">
      <div class="star-badge large yellow center-block">
        <i class="material-icons star-icon">star</i>
        <span class="star-info">{{user.stars_received}}</span>
      </div>
    </div>
    <div class="pv-body">
      <h2>{{user.full_name}}</h2>
      <ul class="pv-contact">
        <li><i class="zmdi material-icons">email</i> {{user.email}}</li>
      </ul>

      <hr>

      {{remaining-star amount=user.stars_available}}

    </div>
  </div>
</div>
