html, body {
    height: 100%;
    width: 100%
}

/* helpers */
.v-center-flex {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.v-center-outer {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: table;
}
.v-center-inner {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .col-md-1-half {
    width: 9.09090909090909%;
  }
}

.col-md-1-half {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-v-center {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.box-shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* end helpers */

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  display: inline-block;
  height: 100%;
  padding: 5px 15px;
  width: auto;
}

@media (max-width: 1199px) {
  .navbar .navbar-brand {
    height: 50px;
    padding: 0;
  }
  .navbar-brand .title {
    display: inline-block;
    vertical-align: middle;
  }
}

/* login form */
.login-form .logo {
  position: absolute;
  display: block;
  margin: auto;
  top: 25px;
  left: 0;
  right: 0;
  width: 100px;
}

.login-form .panel-heading {
  position: relative;
  background: #F48FB1;
  height: 70px;
}

.login-form .panel-body {
  margin-top: 50px
}
/* end login form */

/*profile-widget widget */
.profile-view {
  text-align: center

}

.profile-view .pv-header {
  position: relative;
  height: 145px;
  width: 100%;
  background-image: url(/assets/images/bg-mountain.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center

}

.profile-view .pv-header>.pv-main {
  border-radius: 50%;
  width: 130px;
  position: absolute;
  height: 130px;
  bottom: -50px;
  left: 50%;
  margin-left: -65px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s

}

.profile-view .pv-body {
  margin-top: 70px;
  padding: 0 20px 20px

}

.profile-view .pv-body>h2 {
  margin: 0;
  line-height: 100%;
  font-size: 20px;
  font-weight: 400

}

.profile-view .pv-body>small {
  display: block;
  color: #8E8E8E;
  margin: 10px 0 15px

}

.profile-view .pv-body .pv-contact {
  margin: 10px 0;
  padding: 0;
  list-style: none

}

.profile-view .pv-body .pv-contact>li {
  display: inline-block;
  margin: 0 5px;
  color: #5E5E5E;

}

.profile-view .pv-body .pv-contact>li>.zmdi {
  line-height: 100%;
  vertical-align: text-bottom;
  font-size: 18px

}

.profile-view:hover .pv-main {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2)
}
/* end profile-widget */

/* star badge */
.profile-view .star-badge {
  position: relative;
  top: 15px;
}

.star-badge {
  position: relative;
  text-align: center;
}

.star-badge .star-icon, .star-badge .star-info {
  position: absolute;
  left: 0;
}

.star-badge, .star-badge .star-info {
  width: 45px;
  height: 45px;
}

.star-badge .star-icon{
  font-size: 45px;
}

.star-badge .star-info {
  font-weight: bold;
  font-size: 12px;
  line-height: 50px
}

.star-badge.large, .star-badge.large .star-info {
  width: 80px;
  height: 80px;
}

.star-badge.yellow .star-icon{
  color: #FFC107
}

.star-badge.large .star-icon{
  font-size: 80px;
}

.star-badge.large .star-info {
  font-weight: bold;
  font-size: 16px;
  line-height: 85px
}

/* category widget */
.category-item {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  padding: 0 10px 10px 10px;
}

a.category-item {
  text-decoration: none;
  display: block;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.category-item:hover, .category-item:focus {
  color: #fff;
}

a.category-item:hover {
  opacity: 0.7;
}

.category-item .category-icon:before {
  font-size: 50px;
  margin: 0;
}

.category-item .category-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
}


/* end category widget */

/* assign form */
.assign-form, .assign-form .form-control {
  color: #fff
}

.assign-form .form-group .form-control::-moz-placeholder {
  color: #f2f2f2
}
.assign-form .form-group .form-control:-ms-input-placeholder {
  color: #f2f2f2
}
.assign-form .form-group .form-control::-webkit-input-placeholder {
  color: #f2f2f2;
  font-weight: lighter
}

.assign-form .category-icon:before {
  font-size: 80px;
}

.assign-form .category-title {
  font-size: 16px;
}

.assign-form .icon-close {
  color: #fff;
  font-size: 40px
}


@media (max-width:767px) {
  #assign-form-modal {
    padding-right: 0 !important;
  }

  #assign-form-modal .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
  }

  #assign-form-modal .assign-form {
    height: 100vh;
    margin-bottom: 0
  }
}

/* end assign form */

/* assign item */
.assign-item {
  color: #fff
}

.assign-item .assign-body {
  display: flex;
  align-items: center;
  padding: 5px;
}

.assign-item .assign-user-img {
  width: 150px;
}

.assign-item .assign-footer {
  color: #fff;
  background: rgba(255,255,255, 0.3);
  padding: 10px 15px;
}

.assign-item .category-item {
  margin: 0 auto;
}

.assign-item .category-item .category-icon:before {
  font-size: 5em;
  font-size: 9.5vw;
}

.assign-item .category-item .category-title {
  font-size: 1em;
  font-size: 1.9vw;
}

@media (min-width:768px) {
  .assign-item .category-item .category-icon:before {
    font-size: 5em;
  }

  .assign-item .category-item .category-title {
    font-size: 1em;
  }
}

.assign-item .assign-avatar {
  position: relative;
  max-width: 22%;
  min-width: 100px;
}

.assign-item .assign-avatar img{
  width: 150px;
}

.assign-item .assign-user-name {
  position: absolute;
  width: 100%;
  display: block;
  padding: 5px;
  bottom: 0;
  background: rgba(0,0,0, 0.6);
  z-index: 1;
}
/* end assign item */

/* remaining star */
.remaining-star .remaining-star-chart {
  width: 90px;
  height: 90px;
}
.remaining-star .remaining-star-text {
  max-width: 160px;
}
.remaining-star .remaining-star-text, .remaining-star .remaining-star-chart {
  vertical-align: middle
}

.remaining-star-label {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2em
}
/* end remaining star */

/* button google */
.btn-google {
  padding: 0;
  text-align: left !important;
}

.btn.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}
.btn.btn-google:hover, .btn-google:focus{
  color: #fff;
  background-color: #c23321 !important;
  border-color: rgba(0,0,0,0.2);
}

.btn-google .icon {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.btn-google .icon img {
  width: 30px;
  height: 30px;
}
/* end button google */

