{{#each model as |assignment|}}
  <div class="panel mdc-bg-{{assignment.category.color}} assign-item">
    <div class="assign-body">
      <div class="assign-avatar">
        <img class="img-responsive assign-user-img" src="{{assignment.from_image_url}}" alt="">
        <span class="assign-user-name text-ellipsis text-center">{{assignment.from}}</span>
      </div>
      <div href="" class="category-item">
        <i class="flaticon-{{assignment.category.icon}} category-icon"></i>
        <span class="category-title">{{i18n assignment.category.title}}</span>
      </div>
      <div class="assign-avatar">
        <img class="img-responsive assign-user-img" src="{{assignment.to_image_url}}" alt="">
        <span class="assign-user-name text-ellipsis text-center">{{assignment.to}}</span>
      </div>
    </div>
    <div class="assign-footer text-center">
      <em>{{assignment.comment}}</em>
    </div>
  </div>
{{/each}}

{{infinity-loader infinityModel=model loadingText=(i18n 'dashboard.loading') loadedText=''}}
