<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StarmeUi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="EstrellaMe">
    <meta name="application-name" content="EstrellaMe">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon -->

    <meta name="google-signin-client_id" content="1098872401599-bbc682i186blu33d3kmqnstp5klsao5k.apps.googleusercontent.com">

    {{content-for "head"}}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/starme-ui.css">

    {{content-for "head-footer"}}

    <script src="https://apis.google.com/js/api.js" async defer></script>

  </head>
  <body>
    {{content-for "body"}}

    <script src="assets/vendor.js"></script>
    <script src="assets/starme-ui.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
