{{ember-notify messageStyle='bootstrap'}}

<!-- header -->
<div class="navbar mdc-bg-pink">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">
        <img src="/assets/images/estrellame_logo_white.png" alt="Estrellame logo">
        <span class="title">{{i18n 'title'}}</span>
        <div class="ripple-container"></div>
      </a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="material-icons">person</i>
            <div class="ripple-container"></div>
          </a>
          <ul class="dropdown-menu">
            <li><a {{action "logout"}} href="javascript:void(0)"><i class="material-icons">exit_to_app</i> {{i18n "dashboard.logout"}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end header -->

<!-- main content -->
<div class="container-fluid">
  {{category-list categories=model.categories store=store user=model.user}}

  <div class="row">
    <div class="col-md-3">
      {{user-profile user=model.user}}
    </div>

    <div class="col-md-6">
      {{outlet}}
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
        <!-- <div class="list-group"> -->
        <!--   <div class="list-group-item"> -->
        <!--     <div class="row-picture"> -->
        <!--       <img src="/assets/images/estrellame_logo.png" alt="Estrellame logo"> -->
        <!--     </div> -->
        <!--     <div class="row-content"> -->
        <!--       <h4 class="list-group-item-heading">EstrellaMe</h4> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>

</div>
<!-- end main content -->