{{ember-notify messageStyle='bootstrap'}}

<div class="v-center-outer">
  <div class="v-center-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          {{login-form title=(i18n 'title') onLogin="login"}}
        </div>
      </div>
    </div>
  </div>
</div>
